<div id="content-container">
    <div id="page-head">
        <div id="page-title">
            <h1 class="page-header text-overflow">Department</h1>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <ol class="breadcrumb">
                    <li><a href=""><i class="fa fa-home"></i></a></li>
                    <li class="active">Department</li>
                </ol>
            </div>
            <div class="col-sm-2" style="text-align: right;">
                <a class="btn btn-sm btn-default" style="margin-right: 20px;"><i class="fa fa-plus"></i> Add New</a>
            </div>
        </div>
    </div>
    <div id="page-content">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 80%;">
                                        Department Name
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        2023 - 2024
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i></a>
                                        &nbsp;&nbsp;
                                        <a class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>