<app-top-menu id="navbar"></app-top-menu>
<div class="boxed">
    <div id="content-container">
        <div id="page-head">
            <div id="page-title">
                <h1 class="page-header text-overflow">Department</h1>
            </div>
            <ol class="breadcrumb">
                <li><a href=""><i class="fa fa-home"></i></a></li>
                <li class="active">Department</li>
            </ol>
        </div>
        <div id="page-content">
            <div class="panel">
            </div>
        </div>
    </div>
    <app-left-menu id="mainnav-container"></app-left-menu>
</div>
<app-footer id="footer"></app-footer>