<div id="mainnav">
    <!--Menu-->
    <!--================================-->
    <div id="mainnav-menu-wrap">
        <div class="nano has-scrollbar">
            <div class="nano-content" tabindex="0" style="right: -17px">
                <!--Profile Widget-->
                <!--================================-->
                <div id="mainnav-profile" class="mainnav-profile">
                    <div class="profile-wrap text-center">
                        <div class="pad-btm">
                            <img class="img-circle img-md" src="img/profile-photos/1.png" alt="Profile Picture" />
                        </div>
                        <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                            <span class="pull-right dropdown-toggle"><i class="dropdown-caret"></i></span>
                            <p class="mnp-name">Aaron Chavez</p>
                            <span class="mnp-desc">aaron.cha@themeon.net</span>
                        </a>
                    </div>
                    <div id="profile-nav" class="collapse list-group bg-trans">
                        <a href="#" class="list-group-item">
                            <i class="demo-pli-male icon-lg icon-fw"></i> View Profile
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="demo-pli-information icon-lg icon-fw"></i> Help
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="demo-pli-unlock icon-lg icon-fw"></i> Logout
                        </a>
                    </div>
                </div>
                <ul id="mainnav-menu" class="list-group">
                    <li class="list-header">Navigation</li>
                    <li>
                        <a aria-expanded="false" routerLink="/">
                            <i class="fa fa-dashboard"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a aria-expanded="false">
                            <i class="fa fa-bus"></i>
                            <span class="menu-title">Admin Setup</span>
                            <i class="arrow"></i>
                        </a>
                        <ul class="collapse" aria-expanded="false" style="height: 0px;">
                            <li><a routerLink="/academic">Academic Calander</a></li>
                            <li><a routerLink="/department">Department</a></li>
                            <li><a routerLink="/designation">Designation</a></li>
                            <li><a routerLink="/class">Class</a></li>
                            <li><a routerLink="/section">Section</a></li>
                            <li><a routerLink="/stream">Stream</a></li>
                            <li><a routerLink="/rolesetup">Role Managment</a></li>
                        </ul>
                    </li>
                    <li>
                        <a aria-expanded="false" routerLink="/student">
                            <i class="fa fa-address-card"></i>
                            <span class="menu-title">Student</span>
                        </a>
                    </li>
                    <li>
                        <a aria-expanded="false" routerLink="/teacher">
                            <i class="fa fa-address-card"></i>
                            <span class="menu-title">Teacher</span>
                        </a>
                    </li>
                    <li>
                        <a aria-expanded="false">
                            <i class="fa fa-bus"></i>
                            <span class="menu-title">Vehicle Set</span>
                            <i class="arrow"></i>
                        </a>
                        <ul class="collapse" aria-expanded="false" style="height: 0px;">
                            <li><a routerLink="/vehicle">Vehicle</a></li>
                            <li><a routerLink="/driver">Driver</a></li>
                            <li><a routerLink="/pickuppoints">Pickup Point</a></li>
                            <li><a routerLink="/vehicleroutes">Vehicle Routes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a aria-expanded="false">
                            <i class="fa fa-rupee"></i>
                            <span class="menu-title">Fees</span>
                            <i class="arrow"></i>
                        </a>
                        <ul class="collapse" aria-expanded="false" style="height: 0px;">
                            <li><a routerLink="/fees/headcost">Head Cost</a></li>
                            <li><a routerLink="/fees/feesetup">Fee Setup</a></li>
                            <li><a routerLink="/fees/concession">Concession</a></li>
                            <li class="list-divider"></li>
                            <li><a routerLink="/fees/collect">Collect</a></li>
                        </ul>
                    </li>
                    <li>
                        <a aria-expanded="false">
                            <i class="fa fa-certificate"></i><span class="menu-title">Certificate</span><i class="arrow"></i>
                        </a>
                        <ul class="collapse" aria-expanded="false" style="height: 0px;">
                            <li><a routerLink="/certificate/bonafide">Bonafide</a></li>
                            <li><a routerLink="/certificate/course">Course Completion</a></li>
                            <li><a routerLink="/certificate/transfer">Transfer</a></li>
                            <li><a routerLink="/certificate/participation">Participation</a></li>
                            <li><a routerLink="/certificate/migration">Migration</a></li>
                            <li><a routerLink="/certificate/character">Character</a></li>
                        </ul>
                    </li>
                    <li>
                        <a aria-expanded="false">
                            <i class="fa fa-book"></i><span class="menu-title">Library</span><i class="arrow"></i>
                        </a>
                        <ul class="collapse" aria-expanded="false" style="height: 0px;">
                            <li><a routerLink="/library/books">Book Details</a></li>
                            <li><a routerLink="/library/issue-book">Issue Book</a></li>
                            <li><a routerLink="/library/fines">Fines</a></li>
                        </ul>
                    </li>
                    <!--Category name-->
                    <li class="list-header">Components</li>

                </ul>
                <!--================================-->
                <!--End widget-->
            </div>
            <div class="nano-pane" style="display: none">
                <div class="nano-slider" style="height: 1796px; transform: translate(0px, 0px)"></div>
            </div>
        </div>
    </div>
    <!--================================-->
    <!--End menu-->
</div>