<app-top-menu id="navbar"></app-top-menu>
<div class="boxed">
    <div id="content-container">
        <div id="page-head">
            <div class="pad-all text-center">
                <h3>Welcome back to the Dashboard.</h3>
                <p>Scroll down to see quick links and overviews of your Server, To do list, Order status or get some
                    Help using Nifty.
                </p>
            </div>
        </div>
        <div id="page-content">

            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-warning panel-colorful media middle pad-all">
                        <div class="media-left">
                            <div class="pad-hor">
                                <i class="demo-pli-file-word icon-3x"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold">241</p>
                            <p class="mar-no">Documents</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info panel-colorful media middle pad-all">
                        <div class="media-left">
                            <div class="pad-hor">
                                <i class="demo-pli-file-zip icon-3x"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold">241</p>
                            <p class="mar-no">Zip Files</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-mint panel-colorful media middle pad-all">
                        <div class="media-left">
                            <div class="pad-hor">
                                <i class="demo-pli-camera-2 icon-3x"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold">241</p>
                            <p class="mar-no">Photos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-danger panel-colorful media middle pad-all">
                        <div class="media-left">
                            <div class="pad-hor">
                                <i class="demo-pli-video icon-3x"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p class="text-2x mar-no text-semibold">241</p>
                            <p class="mar-no">Videos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-left-menu id="mainnav-container"></app-left-menu>
</div>
<app-footer id="footer"></app-footer>